@font-face {
    font-family: 'Acumin';
    src: url(//www.simmsfishing.com/cdn/shop/t/269/assets/acuminpro-regular-webfont.eot?v=129201642970285541601699529792);
    src:
      url("//www.simmsfishing.com/cdn/shop/t/269/assets/acuminpro-regular-webfont.woff?v=109866018601579549841699529793#iefix") format('embedded-opentype'),
      url(//www.simmsfishing.com/cdn/shop/t/269/assets/acuminpro-regular-webfont.ttf?v=140961386677550992091699529793) format('truetype'),
      url("//www.simmsfishing.com/cdn/shop/t/269/assets/acuminpro-regular-webfont.svg?v=79605047085491933481699529792#acuminpro-regular") format('svg'),
      url(//www.simmsfishing.com/cdn/shop/t/269/assets/acuminpro-regular-webfont.woff?v=109866018601579549841699529793) format("woff"),
      url(//www.simmsfishing.com/cdn/shop/t/269/assets/acuminpro-regular-webfont.woff2?v=173882805320833771651699529794) format("woff2");
    font-weight: 400;
    font-display: swap;
}
  @font-face {
    font-family: 'Acumin';
    src: url(//www.simmsfishing.com/cdn/shop/t/269/assets/acuminpro-bold-webfont.eot?v=126966254332328785791699529789);
    src:
      url("//www.simmsfishing.com/cdn/shop/t/269/assets/acuminpro-bold-webfont.woff?v=93508046867555235671699529791#iefix") format('embedded-opentype'),
      url(//www.simmsfishing.com/cdn/shop/t/269/assets/acuminpro-bold-webfont.ttf?v=182542197679546158221699529791) format('truetype'),
      url("//www.simmsfishing.com/cdn/shop/t/269/assets/acuminpro-bold-webfont.svg?v=44199202583562039701699529790#acuminpro-bold") format('svg'),
      url(//www.simmsfishing.com/cdn/shop/t/269/assets/acuminpro-bold-webfont.woff?v=93508046867555235671699529791) format("woff"),
      url(//www.simmsfishing.com/cdn/shop/t/269/assets/acuminpro-bold-webfont.woff2?v=117393486245287349971699529792) format("woff2");
    font-weight: bold;
    font-display: swap;
  }

  @font-face {
    font-family: 'Acumin Condensed';
    src: url(//www.simmsfishing.com/cdn/shop/t/269/assets/acuminproextracond-semibold-webfont.woff?v=128227546827287816231668398611) format("woff"),
        url(//www.simmsfishing.com/cdn/shop/t/269/assets/acuminproextracond-semibold-webfont.woff2?v=126703616768939018541668398607) format("woff2");
    font-weight: 400;
    font-display: swap;
  }

:root {
    --YotpoPrimaryColor: #282824;
    --YotpoSecondaryColor: #7f28c4;
    --YotpoPrimaryFont:'Acumin', var(--YotpoFallbackFont);
    --YotpoSecondaryFont:'Acumin Condensed', var(--YotpoFallbackFont);
    --YotpoFallbackFont: sans-serif;
    --YotpoLogoIconColor : var(--YotpoSecondaryColor);
    --YotpoAvatarBackgroundColor: var(--YotpoSecondaryColor);
    --YotpoVerifiedIconBackgroundColor: #1cc286;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] * {
    font-family: var(--YotpoPrimaryFont) !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .modal-backdrop.yotpo-media-modal,
[class*="yotpo-display-"][class*="yotpo-device-"][style] #yotpo-mobile-filters-popup,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-qna-modal-backdrop {
    z-index: 999999999999999 !important;
}

/* Fixing the space on Read More when it's first on the line */
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-review-content .yotpo-read-more-text {
    display: inline;
    margin-right: 5px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review .yotpo-review-center-panel .yotpo-read-more {
    margin: 0;
    text-decoration: underline;
    text-underline-offset: 3px;
}
/* Fixing the space on Read More when it's first on the line */

/* Fix code on Helpful Section issue in iPhone */
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list > .yotpo-review-votes-wrapper .yotpo-review-votes-icons-wrapper,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list > .yotpo-review-votes-wrapper .yotpo-review-votes-icons-wrapper .yotpo-review-votes-icons-container {
    display: flex;
    gap: 5px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list > .yotpo-review-votes-wrapper .yotpo-review-votes-icons-wrapper .yotpo-review-votes-icons-container .yotpo-review-votes-icons {
    margin: 0;
}
/* Fix code on Helpful Section issue in iPhone */

[class*="yotpo-display-"][class*="yotpo-device-"][style]  .yotpo-reviews-icon path {
    fill: var(--YotpoLogoIconColor);
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-head {
    justify-content: end;
    margin: 40px 0;
}

/* Buttons */
#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"] [id*="-widget-btn"],
#yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"] [id*="-widget-btn"],
[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal #yotpo-modal.yotpo-form-complete .yotpo-form-complete .yotpo-shop-complete,
[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal footer.form-footer .yotpo-new-review-submit,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-question-form .form-footer .yotpo-question-submit,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-vertical-pagination .yotpo-reviews-pagination-item,
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .yotpo-vertical-pagination .yotpo-pagination-item {
    background: #000;
    color: #fff;
    border: none;
    border-radius: .25rem;
    width: auto;
    height: auto;
    line-height: 1;
    font-weight: 700;
    padding: 12px 30px;
    text-decoration: none;
    font-family: var(
    --YotpoSecondaryFont) !important;
    font-size: 18px;
    letter-spacing: .0625rem;
}

#yotpo-reviews-main-widget[class*="yotpo-display-"][class*="yotpo-device-"] [id*="-widget-btn"]#yotpo-main-widget-btn {
    width: auto !important;
    height: auto !important;
}

#yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"] [class*="-btn-wrapper"] [id*="-widget-btn"] span {
    color: #fff;
    font-size: 18px;
    letter-spacing: .0625rem;
}
/* Buttons */

/* reset stars */
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-star-rating-icon {
    transform: scale(1);
}
/* reset stars */

/* HEADER SECTION */
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container {
    row-gap: 40px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container+.yotpo-review-border-smooth {
    display: none;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-main-layout .yotpo-layout-header-wrapper .yotpo-bottom-line {
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    row-gap: 25px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-bottom-line .yotpo-summary-section {
    padding: 0 200px 0 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-bottom-line .yotpo-summary-section {
    padding: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-bottom-line .yotpo-summary-section .yotpo-bottom-line-summary {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-bottom-line .yotpo-summary-section .yotpo-bottom-line-score {
    padding: 0;
    font-size: 16px;
    font-weight: 700;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-bottom-line .yotpo-summary-section .yotpo-bottom-line-score::after {
    content: 'out of 5 stars';
    font-weight: 400;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-bottom-line .yotpo-summary-section .yotpo-bottom-line-right-panel {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-bottom-line .yotpo-summary-section .yotpo-bottom-line-right-panel .yotpo-bottom-line-text {
    margin: 0;
    display: none;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]  .yotpo-bottom-line > .yotpo-vertical-border {
    display: none;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-bottom-line .yotpo-star-distribution {
    width: auto;
    border: none !important;
    padding: 0;
    row-gap: 12px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-bottom-line .yotpo-star-distribution {
    margin: 0 auto;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container [class*="yotpo-bottom-line-question-wrapper-"] {
    border: none !important;
    padding: 0;
    width: 100%;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container [class*="yotpo-bottom-line-question-wrapper-"] .yotpo-review-question-wrapper {
    align-self: end;
    max-width: 310px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-bottom-line .yotpo-summary-section .yotpo-bottom-line-right-panel .star-container {
    margin-right: 4px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-bottom-line .yotpo-summary-section .yotpo-bottom-line-right-panel .star-container svg.yotpo-star-rating-icon {
    width: 21px;
    height: 21px;
}


[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-bottom-line .yotpo-star-distribution .yotpo-distribution-row {
    align-items: center;
    column-gap: 8px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-bottom-line .yotpo-star-distribution .yotpo-distribution-row .yotpo-star-distribution-bar {
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-bottom-line .yotpo-star-distribution .yotpo-distribution-row .yotpo-star-distribution-value {
    line-height: 1;
    height: auto;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-bottom-line .yotpo-star-distribution .yotpo-distribution-row .yotpo-star-distribution-bar .yotpo-progress-bar,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-bottom-line .yotpo-star-distribution .yotpo-distribution-row .yotpo-star-distribution-bar .yotpo-progress-bar-score {
    height: 15px;
    border-radius: 0;
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-bottom-line .yotpo-star-distribution .yotpo-distribution-row .yotpo-star-distribution-bar .yotpo-progress-bar {
    width: 250px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-bottom-line .yotpo-star-distribution .yotpo-distribution-row .yotpo-star-distribution-bar .yotpo-progress-bar {
    width: 210px
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-bottom-line .yotpo-star-distribution .yotpo-distribution-row .yotpo-star-distribution-index {
    margin: 0;
    line-height: 1;
    height: auto;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-bottom-line .yotpo-star-distribution .yotpo-distribution-row .yotpo-star-rating-icon {
    order: -1;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-layout-header-wrapper .yotpo-new-review-btn-wrapper {
    position: absolute;
    left: 0;
    top: 65px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-layout-header-wrapper .yotpo-new-review-btn-wrapper {
    position: static;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-layout-header-wrapper .yotpo-new-review-btn-wrapper #yotpo-main-widget-btn {
    padding: 16px 115px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-layout-header-wrapper .yotpo-new-review-btn-wrapper #yotpo-main-widget-btn {
    padding: 15px 25px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-main-layout .yotpo-layout-header-wrapper {
    position: relative;
    margin: 0;
    width: 680px;
    max-width: 100%;
    gap: 25px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container [class*="yotpo-bottom-line-question-wrapper-"] .yotpo-review-question-wrapper .yotpo-custom-questions-range-question {}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-header-container [class*="yotpo-bottom-line-question-wrapper-"] .yotpo-review-question-wrapper .yotpo-custom-questions-range-question {
    flex-direction: column !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container [class*="yotpo-bottom-line-question-wrapper-"] .yotpo-review-question-wrapper .yotpo-custom-questions-range-question .yotpo-custom-questions-range-question-wrapper {}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-header-container [class*="yotpo-bottom-line-question-wrapper-"] .yotpo-review-question-wrapper .yotpo-custom-questions-range-question .yotpo-custom-questions-range-question-wrapper {
    width: 100% !important;
    max-width: 300px;
    flex-basis: 100% !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container [class*="yotpo-bottom-line-question-wrapper-"] .yotpo-review-question-wrapper .yotpo-custom-questions-range-question .yotpo-custom-questions-range-question-wrapper:last-child {
    margin: 0 !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container [class*="yotpo-bottom-line-question-wrapper-"] .yotpo-review-question-wrapper .yotpo-custom-questions-range-question .yotpo-custom-questions-range-question-wrapper .yotpo-custom-questions-range-question-value,
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container [class*="yotpo-bottom-line-question-wrapper-"] .yotpo-review-question-wrapper .yotpo-custom-questions-range-question .yotpo-custom-questions-range-question-wrapper .yotpo-progress-bar-value-label {
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
    color: var(--YotpoPrimaryColor);
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container [class*="yotpo-bottom-line-question-wrapper-"] .yotpo-review-question-wrapper .yotpo-custom-questions-range-question .yotpo-custom-questions-range-question-wrapper .yotpo-progress-bar-value-label {
    position: static;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container [class*="yotpo-bottom-line-question-wrapper-"] .yotpo-review-question-wrapper .yotpo-custom-questions-range-question .yotpo-custom-questions-range-question-wrapper .yotpo-progress-bar, 
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container [class*="yotpo-bottom-line-question-wrapper-"] .yotpo-review-question-wrapper .yotpo-custom-questions-range-question .yotpo-custom-questions-range-question-wrapper .yotpo-progress-bar-score {
    height: 8px;    
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container [class*="yotpo-bottom-line-question-wrapper-"] .yotpo-review-question-wrapper .yotpo-custom-questions-range-question .yotpo-custom-questions-range-question-wrapper .yotpo-progress-bar-score {
    background: var(--YotpoPrimaryColor) !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-header-container [class*="yotpo-bottom-line-question-wrapper-"] .yotpo-review-question-wrapper .yotpo-custom-questions-range-question .yotpo-custom-questions-range-question-wrapper .yotpo-progress-bar-value-point {
    width: 12px;
    height: 12px;
    bottom: 10px;
}
/* HEADER SECTION */

/* FILTER SECTION */
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container {
    border-bottom: 1px solid #eaeaea;
    padding: 0 0 20px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-container-inner {
    position: relative;
    flex-direction: row-reverse;
    justify-content: start;
    column-gap: 11px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-filters-container .yotpo-filters-container-inner {
    flex-direction: column;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-top-panel {
    flex-basis: auto;
    flex-wrap: wrap;
    width: auto;
    padding: 0;
    gap: 13px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-filters-container .yotpo-filters-top-panel {
    width: 100%;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-top-panel [class$="filter-container"] label input,
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup [class$="filter"] input {
    border-radius: 5px;
    border: 1px solid var(--YotpoPrimaryColor);
    width: 100%;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-top-panel .yotpo-mobile-filters-btn {
    border-radius: 5px;
    border-width: 1px;
    flex-basis: auto;
    width: 100%;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-right-panel {
    flex-basis: auto;
    position: relative;
    /* left: 0; */
    /* top: 0; */
    border: 1px solid;
    height: 35px;
    border-radius: 5px;
    box-sizing: border-box;
    /* width: 205.05px; */
    align-self: start;
    justify-content: start;
    padding: 0 13px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-right-panel .yotpo-sorting-filter-container {
    width: 100%;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-right-panel .yotpo-dropdown-closable {
    width: 100%;
    justify-content: space-between;
    position: unset;
    height: 100%;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-right-panel .yotpo-dropdown-closable .yotpo-selected-value {
    /* width: 61%; */
    /* text-align: left; */
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-container-inner .yotpo-filters-top-panel .yotpo-search-filter {
    /* position: absolute; */
    /* left: 218px; */
    /* top: 0; */
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-top-panel .yotpo-search-filter .yotpo-search-label {}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-top-panel > [class$="filter-container"] {
    margin: 0;
    flex-basis: auto;
    max-width: 100%;
    min-width: 0;
    /* width: 205.05px; */
    /* border: 1px solid var(--YotpoPrimaryColor); */
    /* border-radius: 5px; */
    /* box-sizing: border-box; */
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-filters-container .yotpo-filters-top-panel > [class$="filter-container"] {
    width: 100%;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-top-panel > [class$="filter-container"] label {
    width: 100%;
    display: block;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-right-panel .yotpo-dropdown-content-wrapper {
    top: 100%;
    box-sizing: border-box;
    border: 1px solid var(--YotpoPrimaryColor);
    padding: 10px;
    margin: 0;
    width: 100%;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container .yotpo-filters-right-panel .yotpo-dropdown-content-wrapper .yotpo-dropdown-option {
    margin: 0;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}

/* mobile filter modal */
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup {}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-header {
    padding: 20px;
    position: static;
    border-bottom: 1px solid #e3e3e3;
    box-sizing: border-box;
    justify-content: space-between;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-header .yotpo-popup-close-button-wrapper {}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-header .yotpo-popup-close-button-wrapper > svg {
    position: static;
    transform: none;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-content {
    box-sizing: border-box;
    padding: 20px;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-actions {
    box-sizing: border-box;
    padding: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-header  .yotpo-review-border-smooth {
    display: none;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-header .yotpo-mobile-filters-popup-clear {
    position: static;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-actions .yotpo-filters-results-btn {
    position: static;
    height: auto;
    padding: 20px;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #yotpo-mobile-filters-popup .yotpo-mobile-filters-popup-field-wrapper label {
    width: 100%;
}
/* mobile filter modal */

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-filters-container + div:has(.yotpo-clear-filters-device) > .yotpo-review-border-smooth:first-child {
    display: none;
}
/* FILTER SECTION */

/* REVIEWS SECTION */
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review-border-smooth {
    margin-top: 20px;
    height: 1px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list {}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review-votes-wrapper {
    place-content: start;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review {
    position: relative;
    justify-content: space-between;
    margin: 20px 0 10px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-left-panel {
    flex-basis: auto;
    padding: 25px 0 0;
    width: 300px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-left-panel .yotpo-reviewer {}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-left-panel .yotpo-reviewer .yotpo-reviewer-details-verified {
    padding: 0;
    flex-direction: row;
    align-items: center;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-left-panel .yotpo-reviewer .yotpo-reviewer-name {
    font-size: 18px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-left-panel .yotpo-reviewer .yotpo-reviewer-details-verified .yotpo-verified-icon {
    display: none;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-left-panel .yotpo-reviewer .yotpo-reviewer-details-verified .yotpo-reviewer-verified-buyer-text {
    margin-left: 10px !important;
    font-size: 16px;
    text-transform: uppercase;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-left-panel .yotpo-review-customer-questions-container {
    width: auto;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-left-panel .yotpo-review-customer-questions-container .yotpo-custom-questions-wrapper {
    /* display: flex; */
    margin: 10px 0 0;
    grid-template-columns: auto 1fr;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-left-panel .yotpo-review-customer-questions-container .yotpo-custom-questions-wrapper .yotpo-custom-questions-title, [class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-left-panel .yotpo-review-customer-questions-container .yotpo-custom-questions-wrapper .yotpo-custom-questions-value {
    color: var(--YotpoPrimaryColor) !important;
    font-weight: 400;
    grid-column-start: auto !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-left-panel .yotpo-review-customer-questions-container .yotpo-custom-questions-wrapper .yotpo-custom-questions-title::after {
    content: ':';
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel {
    padding: 0;
    flex-basis: auto;
    width: calc(100% - 640px);
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review:not(:has(.yotpo-review-right-panel .yotpo-review-question)) .yotpo-review-center-panel {
    width: calc(100% - 325px);
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel {
    width: 100% !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-review-rating-title {
    flex-direction: column;
    row-gap: 5px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-review-rating-title .yotpo-review-title {
    margin: 0;
    flex-basis: auto;
    font-size: 22px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-review-rating-title .yotpo-review-title {
    margin: 0 0 10px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-review-content {
    flex-basis: auto;
    margin: 0;
    width: 100%;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-comment {
    flex-basis: auto;
    width: 100%;
    margin-top: 20px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-comment .yotpo-custom-icon {
    max-width: 40px;
    width: 100%;
    height: 40px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-right-panel {
    min-width: 0;
    flex-basis: auto;
    width: 300px;
    flex-grow: unset;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-right-panel .yotpo-review-date {
    position: absolute;
    left: 0;
    top: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-right-panel .yotpo-review-question {
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-right-panel .yotpo-review-question .yotpo-progress-bar-wrapper .yotpo-progress-bar-score {
    background: var(--YotpoPrimaryColor) !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-right-panel .yotpo-review-question .yotpo-custom-questions-range-question-wrapper .yotpo-custom-questions-range-question-title, [class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-right-panel .yotpo-review-question .yotpo-custom-questions-range-question-wrapper .yotpo-custom-questions-range-question-value, [class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-review .yotpo-review-right-panel .yotpo-review-question .yotpo-custom-questions-range-question-wrapper .yotpo-progress-bar-value .yotpo-progress-bar-value-label {
    font-weight: 400;
    font-size: 16px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-reviews-list .yotpo-reviews-pagination-container {}

[class*="yotpo-display-"][class*="yotpo-device-"][style] [class*="-pagination-container"] .yotpo-horizontal-pagination {
    margin: 0;
}
[class*="yotpo-display-"][class*="yotpo-device-"][style] [class*="-pagination-container"] .yotpo-pagination-number {
    padding: 5px 13.1px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] [class*="-pagination-container"] .yotpo-pagination-number.selected, 
[class*="yotpo-display-"][class*="yotpo-device-"][style] [class*="-pagination-container"] .yotpo-pagination-number:hover {
    background: var(--YotpoPrimaryColor);
    height: auto;
    color: #fff;
    /* border-bottom: 2px solid var(--YotpoSecondaryColor); */
    border-radius: 50%;
}

/* mobile if the reviews in the image are more than 2 */
[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .yotpo-thumbnail-container.yotpo-review-thumbnail-container {
    width: 280px;
    align-items: start;
    margin: 10px 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .yotpo-thumbnail-container.yotpo-review-thumbnail-container .yotpo-collapsed-wrapper {
    gap: 5px;
}
/* mobile if the reviews in the image are more than 2 */

/* New Image Modal */
[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review-media-modal .yotpo-modal-body-right-side .yotpo-modal-body-right-side-center .yotpo-modal-body-review-content {
    flex: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review-media-modal .yotpo-read-more-text {
    font-size: 14px;
    margin-right: 5px;
    display: inline;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] .yotpo-review-media-modal .yotpo-read-more {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--YotpoSecondaryColor);
    text-decoration-thickness: 2px;
    margin: 0;
}
/* New Image Modal */

[class*="yotpo-display-"][class*="yotpo-device-"][style] #yotpo-reviews-container .yotpo-no-matching-reviews-container {
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] #yotpo-reviews-container .yotpo-no-matching-reviews-container .yotpo-no-matching-reviews-primary,
[class*="yotpo-display-"][class*="yotpo-device-"][style] #yotpo-reviews-container .yotpo-no-matching-reviews-container .yotpo-no-matching-reviews-secondary {
    color: var(--YotpoPrimaryColor);
}

/* MOBILE CUSTOM QUESTION */
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-review-questions-mobile-panel {
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-review-questions-mobile-panel .yotpo-review-question {
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-review-questions-mobile-panel .yotpo-review-question-wrapper {
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-review-questions-mobile-panel .yotpo-review-question-wrapper .yotpo-custom-questions-wrapper {
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-review-questions-mobile-panel .yotpo-review-question-wrapper .yotpo-custom-questions-range-question {
    flex-direction: column !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-review-questions-mobile-panel .yotpo-review-question-wrapper .yotpo-custom-questions-range-question .yotpo-custom-questions-range-question-wrapper {
    width: 100% !important;
    flex-basis: 100% !important;
    max-width: 300px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-review-questions-mobile-panel .yotpo-review-question-wrapper .yotpo-custom-questions-range-question .yotpo-custom-questions-range-question-wrapper:last-child {
    margin: 0 !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-review-questions-mobile-panel .yotpo-review-question-wrapper .yotpo-custom-questions-range-question .yotpo-custom-questions-range-question-wrapper .yotpo-custom-questions-range-question-value,[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-review-questions-mobile-panel .yotpo-review-question-wrapper .yotpo-custom-questions-range-question .yotpo-custom-questions-range-question-wrapper .yotpo-progress-bar-value-label {
    position: static;
    color: var(--YotpoPrimaryColor);
    text-transform: uppercase;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile .yotpo-reviews-list .yotpo-review .yotpo-review-center-panel .yotpo-review-questions-mobile-panel .yotpo-review-question-wrapper .yotpo-custom-questions-range-question .yotpo-progress-bar-score {
    background: var(--YotpoPrimaryColor) !important;
}
/* MOBILE CUSTOM QUESTION */
/* REVIEWS SECTION */

/* MODAL FORM */
[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal .yotpo-star-rating-icons {
    margin: 0;
    min-height: 0;
    flex-direction: column;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal .yotpo-star-rating-icons .yotpo-star-rating-icons-wrapper {
    padding: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal .yotpo-star-rating-icons .yotpo-star-rating-text {
    align-self: start !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal .yotpo-new-review-headline, 
[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal .yotpo-name-email-wrapper, 
[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal textarea,
[class*="yotpo-display-"][class*="yotpo-device-"][style].yotpo-device-mobile #newReviewFormModal .yotpo-name-email-wrapper .yotpo-input-wrapper {
    width: 100%;
    box-sizing: border-box;
    border-color: #000;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal input {
    border-color: #000;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal label.yotpo-custom-questions-option[style="color: var(--yotpo-black)"] {
    color: var(--YotpoPrimaryColor) !important;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal footer.form-footer {
    background: #f3f3f3;
    padding: 10px;
    box-sizing: border-box;
    bottom: 0;
    border: 1px solid #f3f3f3;
    gap: 10px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal footer.form-footer .yotpo-review-form-footer-container {}

[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal footer.form-footer .yotpo-review-form-footer-container > h6 {
    margin: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal footer.form-footer .yotpo-terms-and-conditions-container {
    padding: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal footer.form-footer .yotpo-terms-and-conditions-container label.yotpo-checkbox-label {
    font-size: 12px;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal footer.form-footer .yotpo-terms-and-conditions-container .yotpo-checkbox-container .yotpo-checkbox-link {
    color: #000;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal #modalDescription {
    box-sizing: border-box;
    padding: 0;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #newReviewFormModal {}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile [aria-labelledby="modalTitle"][role] {
    width: 95%;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style]:not(:has(.yotpo-review-media-modal)) [aria-labelledby="modalTitle"][role] #modalTitle {
    box-shadow: 1px 2px 1px rgba(0,0,0,0.69);
    padding: 0 10px;
    box-sizing: border-box;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #newReviewFormModal #yotpo-modal #modalDescription {
    margin: 0 auto;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #newReviewFormModal footer.form-footer .yotpo-terms-and-conditions-container .yotpo-new-input-validation {
    width: 100%;
}

[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile #newReviewFormModal footer.form-footer .yotpo-terms-and-conditions-container {
    flex-wrap: wrap;
}

/* Q&A MODAL */
.yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"] #modalDescription {
    box-sizing: border-box;
    overflow: auto;
    padding: 20px 0;
    margin: 0 auto;
}

.yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"] #modalDescription .yotpo-question-form {
    width: 95%;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
}

.yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-question-form .form-footer,
.yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"] input,
.yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"] textarea {
    box-sizing: border-box;
    overflow: auto;
    border-color: #000;
}

.yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"] .yotpo-name-email-wrapper, 
.yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"] input, 
.yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"] textarea {
    min-width: unset;
    width: 100%;
}

.yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .yotpo-name-email-wrapper .yotpo-input-wrapper,
.yotpo-questions-and-answers[class*="yotpo-display-"][class*="yotpo-device-"].yotpo-device-mobile .yotpo-question-content {
    width: 100%;
}
/* Q&A MODAL */
/* MODAL FORM */

/* FORM COMPLETE */
[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal #yotpo-modal.yotpo-form-complete {
    height: auto;
    overflow: auto;
    max-height: 100%;
    width: auto;
    padding: 0 0 40px;
    position: relative;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal #yotpo-modal.yotpo-form-complete .yotpo-form-complete {
    height: auto;
}

[class*="yotpo-display-"][class*="yotpo-device-"][style] #newReviewFormModal #yotpo-modal.yotpo-form-complete #modalDescription {
    margin: 0;
    padding: 0;
    overflow: auto;
}
/* FORM COMPLETE */