@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova';
    src: url('FONTSPRINGDEMO-ProximaNovaBold.woff2') format('woff2'),
        url('FONTSPRINGDEMO-ProximaNovaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova';
    src: url('FONTSPRINGDEMO-ProximaNovaBlackRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-ProximaNovaBlackRegular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova';
    src: url('FONTSPRINGDEMO-ProximaNovaLightRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-ProximaNovaLightRegular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova';
    src: url('FONTSPRINGDEMO-ProximaNovaExtraboldRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-ProximaNovaExtraboldRegular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova';
    src: url('FONTSPRINGDEMO-ProximaNovaSemiboldRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-ProximaNovaSemiboldRegular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova';
    src: url('FONTSPRINGDEMO-ProximaNovaRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-ProximaNovaRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova';
    src: url('FONTSPRINGDEMO-ProximaNovaMediumRegular.woff2') format('woff2'),
        url('FONTSPRINGDEMO-ProximaNovaMediumRegular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

